.book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    width: 100%;
    margin-bottom: 50px;
    min-height: 50vh;
}

.title-box {
    display: flex;
    justify-content: space-between;
}

.title-box-right {
    padding-top: 45px;
}

#book-type {
    height: 30px;
    width: 130px;
    text-align: center;
}