.enquiry-box {
    padding: 10px;
    border-right: 1px white solid;
    width: 25%;
    text-align: center;
}

.enquiry-form {
    width: 80%;
    margin: 10px auto;
}

#email-field {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
    background-color: #4e5054;
    border: 0;
}

#message-field {
    width: 100%;
    background-color: #4e5054;
    border: 0;
}

#sent-enquiry {
    width: 100px;
    height: 35px;
    background-color: rgb(66, 105, 201);
}